*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-and-search-box-collonna{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #222222;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 112px;
}

.row-img-text-box-space-betwean{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 112px;
}

.row{
  display: flex;
  margin-left: 20px;
}


.backgrond-color-different{
  background-color: #2B2B2B;
  width: 100%;
  height: 100px;
}

.row-img-text-box{
  display: flex;
  
}

.search-box2{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 12px;
}
.search-box2 input{
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 380px;
  transition: border-color 0.3s;
  padding-left: 45px; 
  background-color: transparent;
}
.search-box2 i{
  position: absolute;
    left: 12px; 
  color: #aaa;
}

.search-box2 input:focus {

  border-color: #aaa; 
}

.search-box2 input::placeholder {

  color: #aaa;
  transition: opacity 0.3s;
}

.search-box2 input:focus::placeholder {

  opacity: 0;
}


.search-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
}



.search-box i {
  
  position: absolute;
  left: 12px; 
  color: #aaa;
}

.search-box input {

  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #464646;
  border-radius: 4px;
  outline: none;
  width: 250px;
  transition: border-color 0.3s;
  padding-left: 45px; 
}

.search-box input:focus {

  border-color: #aaa; 
}

.search-box input::placeholder {

  color: #aaa;
  transition: opacity 0.3s;
}

.search-box input:focus::placeholder {

  opacity: 0;
}

.links{
  display: flex;

}
.links a {
  display: block;
  padding: 20px 10px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s;
}

.links a:hover {
  background-color: #aaa;
}

main {
  display: grid;
  grid-template-columns: 70% 30%; 
  height: calc(100% - 112px); 
  overflow: hidden; 
}

main .col-dx{
  padding-top: 1rem;
  width: 100%;
}

.col-sx {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  background: #222222;
  padding-left: 8px;
}
.col-sx::-webkit-scrollbar {
  display: none; 
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #464646;
}

.image-container {
  position: relative;
  display: block; 
}

.image-container i {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 12px; 
  color: white; 
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  cursor: pointer;
}


.image-container:hover i {
  opacity: 1; 
  transform: translate(-50%, -50%) scale(1.1); 
}

.card strong {
  font-weight: lighter;
  color: white;
}
.card span{
  color: #464646;
}
.col-dx {
  padding-left: 80px;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.posiction{
  position: absolute;
  top: 130px;
  right: 430px;
  height: 100%;
  border: 1px solid #464646;
}

.element-row{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.element-row i{
  font-size: 66px;
  color: white;
}

.col-dx img {
  width: 280px;
  height: auto;
}

.element-row p{
  color: white;
}
.button1{
  text-align: center;
  background-color: white;
  padding: 12px;
  width: 340px;
  margin-bottom: 12px;
  border-radius: 8px;
  transition: background-color 0.3 ease;
}

.button1:hover{
  background-color: #ccc;
}
.button1 a{
  text-decoration: none;
  font-size: 20px;
  color: #464646;
  transition: color 0.3 ease;
}
.button1 a:hover{
  color: white;
}

.button2{
  text-align: center;
  border: 2px solid white;
  padding: 12px;
  width: 340px;
  margin-bottom: 40px;
  border-radius: 8px;
   transition: background-color 0.3 ease;

}

.button2:hover{
  background-color: #ccc;
}

.button2 p{
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.tablet{
  display: none;
}
p{
  color: white;
}


.decoration{
  display: none;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .col-sx{
    grid-template-columns: 1fr 1fr 1fr;
  }

  main .col-dx{
    padding-left: 20px;
  }

  .col-dx img{
    width: 240px;
    margin-left: 18px;
  }

     

  .posiction{
      right: 300px;
    }

    .element-row{
      margin-top: 12px;
    }

 .element-row p:nth-child(2) {
      white-space: nowrap;       
      overflow: hidden;          
      text-overflow: ellipsis;   
      max-width: 184px;          
      display: block;            
    }

    .button1{
      width: 280px;

    }

    .button2{
      width: 280px;
      margin-bottom: 12px;
    }

    .tablet{
      display: flex;
      flex-direction: column;
    }

    .element-row img{
      width: 50px;
      margin-right: 12px;
    }

}

@media screen and (max-width: 768px) {
  .posiction{
    right: 230px;
  }

  .col-sx{
    grid-template-columns: 1fr 1fr;
    }

    main .col-dx{
      padding-left: 0px;
    }

    .col-dx p{
      margin-left: 18px;
    }
    .col-dx img{
      width: 200px;
      margin-left: 16px;
    }

    .element-row p:nth-child(2){
      max-width: 134px;
    }
    .button1{
      width: 200px;
      margin-left: 18px;
    }
    .button2{
       width: 200px;
      margin-left: 18px;
    }

    .element-row .profile{
      width: 50px;
    }
    .tablet p{
      margin-left: 18px;
    }
}

@media screen and (max-width: 744px){


  main .col-dx{
    padding-left: 20px;
  }
  .search-box input{
    width: 300px;
  }
  .search-box2 input{
    width: 430px;
  }


  .col-sx{
    grid-template-columns: 1fr 1fr;
    }

    .card img{
      width: 212px;

    }

    .col-dx .select-song{
      width: 192px;
      height: 192px;

    }


    
    .button1{
      width: 220px;
    }

     .button2{
      width: 220px;
      margin-bottom: 12px;
      margin-top: 12px;
    }

    .element-row p{
      margin-left: 4px;
    }

    .collum{
      display: flex;
      flex-direction: column;
      position: relative;
      right: 20px;
    }

    .element-row p:nth-child(2) {
      white-space: nowrap;       
      overflow: hidden;          
      text-overflow: ellipsis;   
      max-width: 134px;          
      display: block;            
    }


    .tablet{
      display: flex;
      flex-direction: column;
    }


    .posiction{
      right: 234px;
    }

    .element-row .profile{
      width: 50px;
      height: 50px;
    }

    .p-collum{
      display: flex;
      flex-direction: column;
    }

    
}

@media screen and (max-width: 600px){


  .row img {
  width: 94px;      
  height: 60px;      
  object-fit: cover; 
  object-position: left; 
  border-radius: 8px; 
}
  .search-box i{
        left: 240px;
  }

  .search-box input{
    display: none;
  }

.links a{
  display: block;
    padding: 20px 10px;
    /* margin-right: 20px; */
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

.search-box2 input{
  width: 560px;
}

  .col-sx{
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  main{
    width: 100%;
    grid-template-columns: 1fr;
  }

  .card img{
    width: 250px;
  }
  .col-dx{
    display: none;
  }


.decoration {
  display: flex; 
  flex-wrap: wrap; 
  align-items: center;
  gap: 15px;

  width: 80%;
  bottom: 20px;
  left: 10%;
  padding: 10px;
  background-color: #464646;
  border-radius: 8px;
}

.decoration img {
  width: 50px; 
}


.row-element-for-play-back-song-go-on-ather-song {
  display: flex;
  gap: 10px;
  align-items: center;
}


.row-element-for-play-back-song-go-on-ather-song i {
  color: black; 
  transition: color 0.3s ease;
}


.row-element-for-play-back-song-go-on-ather-song i:hover {
  color: lightgray; 
}



.row-time-song {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px; 
}

.row-time {
  background-color: aquamarine;
  height: 4px;
  width: 180px;
  border-radius: 2px;
}

.name-song {
  text-align: center;
  flex-basis: 100%; 
  margin-bottom: 8px;
}
}


